<div class="card mb-4">
  <div class="card-body bg-light">
      <img class="img-thumbnail float-right"
        src="//api.angular.schule/avatar/{{ book.rating }}">
    <div class="card-title">
      <h2>
        {{ book.title }}
        <ng-container *brRepeat="book.rating">⭐️</ng-container>
      </h2>
    </div>
    <p>{{ book.description }}</p>

    <button
      (click)="doRateDown()"
      class="btn btn-secondary mr-2">-1</button>

    <button
      (click)="doRateUp()"
      class="btn btn-primary">+1</button>

    <a
      [routerLink]="['/book', book.isbn]"
      class="btn btn-primary ml-2">Details</a>

  </div>
</div>
